<div class="container">
  <h3 class="header">Who liked post</h3>
  <div class="col-12-sm" style="margin-bottom: 5rem;">
    <% @likes.each do |like| %>
      <div class="avatar-like">
        <%= image_tag "#{like.user.picture}", class: "rounded-circle" %> <%= like.user.username %>
      </div>
    <% end %>
  </div>
</div>
