<td><%= link_to user.last_name, user %></td>
<td><%= link_to user.first_name, user %></td>
<td><%= link_to user.username, user %></td>
<td><img src="http://www.upplanet.com/bighero/outlay-demo/img/customer_avatar.png"/></td>
