<% @posts.each do |post| %>
<div class="row">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Title: <%= post.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Topic: <%= post.topic %></h6>
    <p class="card-text">Content: <%= post.content %></p>
    
  </div>
</div>
</div>
<% end %>