// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

// body {
	// background-image: url(image/car.jpg)
	// background-image: url(car.jpg);

// }

.first-deck, .second-deck {
	padding-left: 50px;
	padding-right: 50px;
}

.topic-head {
	padding-left: 50px;
	padding-top: 30px;
	font-family: 'Julius Sans One', sans-serif;
}
.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
  }
  
  .first-deck:hover .overlay {
	height: 100%;
  }
  
  .text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
  }

  .newpost {
      padding-left: 50px;
      padding-top: 50px;
  }
.topic {
	font-family: Arial, Helvetica, sans-serif;
}

.pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.topiko-caro {
    padding-top: 50px;
    padding-left: 50px;
}
.topiko-caro.ci-style-4 {
    min-height: 100px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.1);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.topiko-caro.ci-style-4 {
    padding: 1.5em;
    position: relative;
    z-index: 1;
	box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}
.topiko-caro.ci-style-4 .ci-date {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.8em;
	/* background-color: white; */
}
.topiko-caro.ci-style-4 .ci-date span {
	display: block;
	text-align: center;
	line-height: 1;
}
.topiko-caro.ci-style-4 .ci-day {
	font-weight: 700;
	font-size: 24px;
	text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
}
.topiko-caro.ci-style-4 .ci-month {
	font-size: 12px;
	text-transform: uppercase;
}
.topiko-caro.ci-style-4 .ci-year {
	font-size: 12px;
}
.topiko-caro.ci-style-4 {
    position: absolute;
    bottom: 0;
    width: calc(100% + 1px);
    -webkit-transform: translateY(calc(40%));
    transform: translateY(calc(40%));
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}
.topiko-caro.ci-style-4:hover .ci-textcontent-wrap {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.content_n10s.ci-style-4.format-video .ci-textcontent-wrap.ci-style-4 {
	/* no hover effect on video post types */
	-webkit-transform: translateY(0);
    transform: translateY(0);
}
.content_n10s.ci-style-4.format-video .ci-more-hover {
	display: none;
}
.topiko-caro.ci-style-4 .entry-title {
	margin-top: 10px;
}
.topiko-caro.ci-style-4 .post-content {
	height: 50%;
	margin: 0;
}
.topiko-caro.ci-style-4 .ci-more-hover {
    position: absolute;
    z-index: 999;
    bottom: 0;
    width: 100%;
    text-align: center;
	background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 20%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 20%, rgba(255,255,255,1) 100%);
	background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 20%, rgba(255,255,255,1) 100%);
	-webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}
.topiko-caro.ci-style-4:hover .ci-more-hover {
	-webkit-transform: translateY(25px);
	transform: translateY(25px);
}
.topiko-caro.ci-style-4 .ci-more-hover span {
	width: 5px;
    height: 5px;
    background-color: gray;
    color: gray;
    position: relative;
    display: inline-block;
    border-radius: 50%;
}
.topiko-caro.ci-style-4 .ci-more-hover span::before, 
.topiko-caro.ci-style-4 .ci-more-hover span::after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background-color: currentColor;
    position: absolute;
    border-radius: 50%;
}
.topiko-caro.ci-style-4 .ci-more-hover span::before {
	left: -10px;
}
.topiko-caro.ci-style-4 .ci-more-hover span::after {
	right: -10px;
}
.topiko-caro.ci-style-4 .ci-comments {
	float: right;
}
.topiko-caro.ci-style-4 .ci-comments::before,
.topiko-caro.ci-style-4 .ci-comments::after {
	content: '';
	display: table;
}
.topiko-caro.ci-style-4 .ci-comments::after {
	clear: both;
}
.topiko-caro.ci-style-4 .ci-comments li {
    height: 60px;
    position: relative;
	display: inline-block;
}
.topiko-caro.ci-style-4 .ci-comments a::before {
	display: inline-block;
	font: normal normal normal 24px/1 ETmodules !important;
}
.topiko-caro.ci-style-4 .ci-comments span {
    position: absolute;
    left: 50%;
    top: -2px;
    font-size: 10px !important;
    font-weight: 700;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.topiko-caro.ci-style-4 .ci-extra-comment::before {
	content: "v";	/*speech bubble*/
}


#flipkart-navbar {
    background-color: #2874f0;
    color: #FFFFFF;
}

.row1{
    padding-top: 10px;
}

.row2 {
    padding-bottom: 20px;
}

.flipkart-navbar-input {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
}

.flipkart-navbar-button {
    background-color: #ffe11b;
    border: 1px solid #ffe11b;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
}

.cart-button {
    background-color: #2469d9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    width: 120px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

.cart-button:hover{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.cart-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
}

.item-number {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
    height: 20px;
    padding: 3px 6px;
    font-weight: 500;
    display: inline-block;
    color: #fff;
    line-height: 12px;
    margin-left: 10px;
}

.upper-links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    color: inherit;
    border: none;
    outline: none;
    font-size: 12px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}

.dropdown:hover {
    background-color: #fff;
}

.dropdown:hover .links {
    color: #000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #fff;
    color: #333;
    left: 0px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px -3px #555454;
    margin: 0;
    padding: 0px;
}

.links {
    color: #fff;
    text-decoration: none;
}

.links:hover {
    color: #fff;
    text-decoration: none;
}

.profile-links {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    display: block;
    padding: 0 11px;
    line-height: 23px;
}

.profile-li{
    padding-top: 2px;
}

.largenav {
    display: none;
}

.smallnav{
    display: block;
}

.smallsearch{
    margin-left: 15px;
    margin-top: 15px;
}

.menu{
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .largenav {
        display: block;
    }
    .smallnav{
        display: none;
    }
    .smallsearch{
        margin: 0px;
    }
}

/*Sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 4px 8px -3px #555454;
    padding-top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;        
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}

.sidenav-heading{
    font-size: 36px;
    color: #fff;
}

/* CSS used here will be applied after bootstrap.css */
.badge-notify{
	background:red;
	position:relative;
	top: -20px;
	left: -35px;
   }

   btn-white{
	   background-color: #f5f5f5;
	   color: #000;
	   border-color: #f5f5f5;
	   
   }